<%- include('./partials/header.ejs') %>

<%- include('./logo.ejs') %>

<h4 style="box-shadow: 1px 1px 5px rgb(26, 26, 116);" class="alert alert-info col-md-8 mx-auto text-center mt-3">Please Register or Login to access booking Slot</h4>


<div style="width: 1250px; height: 700px; overflow: hidden;  box-shadow: 0 0 5px black; " class="mx-auto" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="8000">
            <img style="width: 1250px; height: 700px;" src="https://www.traffictechnologytoday.com/wp-content/uploads/2023/01/AVP-702x336.jpg" class="d-block " alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="8000">
            <img style="width: 1250px; height: 700px;" src="https://www.ieiworld.com/_images/news/icon_share/1144.png" class="d-block " alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img style="width: 1250px; height: 700px;" src="https://newsmantraa.us/wp-content/uploads/2023/02/Automotive-1.jpg" class="d-block " alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>





<%- include('./partials/footer.ejs') %>