<%- include('./partials/header.ejs') %>
<%- include('./logo.ejs') %>



<div style="box-shadow: 2px 1px 5px rgb(44, 74, 138);" class="mt-5 border border-secondary-subtle w-50 mx-auto">


  <div style=" margin: 40px 0px; padding: 0px 90px; font-size: 80px; text-align: center;  display: flex; justify-content: space-between;" class="container">
    <i class="fa-solid fa-user"></i>
    <div class="my-auto">
      <h5 style="font-size: 1rem; margin: 0px;">Login to continue</h5>
    <h3 style="text-shadow: 1px 1px 3px rgb(26, 26, 116);">Smart Parking</h3>
    </div>
  </div>

    <form method="post"  class="col-md-9 mx-auto m-5">
       
      <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" >
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <div style="display: flex; justify-content: space-between;">
        <a href="">forget password</a>
        <button type="submit" class="btn btn-primary px-4">Login</button>
      </div>
    </form>
</div>

<%- include('./partials/footer.ejs') %>