<%- include('./partials/header.ejs') %>

  <nav style="background-color: rgb(44, 74, 138); height: 10  0px; box-shadow: 0 0 5px rgb(26, 26, 116);" class="navbar navbar-expand-lg ">
    <div style="margin: 0px 200px;" class="container-fluid d-flex justify-content-between">
      <div>
        <h2 ><a style="color: rgb(38, 190, 190); font-size: 45px;" class="navbar-brand" href="#">smartParking</a></h2>
      </div>
        
        <div class="d-flex">
          <form method="post" action="/dashboard/">
            <button style="background-color: rgba(8, 2, 24, 0.361); color: white; font-weight: bold; border: 1px solid black;" class="btn mx-2" type="submit"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
          </form>
          
        </div>
      </div>
    </div>
  </nav>
  

<%- include('./partials/footer.ejs') %>