<%- include('./partials/header.ejs') %>


<nav style="background-color: rgb(44, 74, 138); height: 80px;" class="navbar navbar-expand-lg">
    <div style="margin: 0px 200px;" class="container-fluid ">
      
      <div style="display: flex; justify-content: center;" class="collapse navbar-collapse mb-3 d-inline">
        <ul style="color: white; align-items: center;" class="navbar-nav me-auto mb-lg-0">
          <li style="margin-right: 10px;" class="nav-item border rounded p-2">
            <i class="fa-solid fa-square-parking"></i>
            <a style="color: white; font-size: 15px;"  class="nav-link active d-inline" href="/">View Parking</a>
          </li>
          <li class="nav-item mx-2">
            <i class="fa-solid fa-book"></i>
            <a style="color: white; font-size: 15px;" class="nav-link active d-inline" href="/book-parking">Book Parking</a>
          </li>
          <li class="nav-item mx-2">
            <i class="fa-brands fa-paypal"></i>
            <a style="color: white; font-size: 15px;" class="nav-link active d-inline" href="/pay">Pay with Paypal</a>
          </li>
          <li class="nav-item mx-2">
            <i class="fa-solid fa-street-view"></i>
            <a style="color: white; font-size: 15px;" class="nav-link active d-inline" href="/view-booking">View Booking</a>
          </li>
          <li class="nav-item mx-2">
            <i class="fa-solid fa-comment"></i>
            <a style="color: white; font-size: 15px;" class="nav-link active d-inline" href="/feedback/">Feedback</a>
          </li>
                   
        </ul>
        
      </div>
    </div>
  </nav>

  <%- include('./partials/footer.ejs') %>